<div class="app-footer">
  <div class="p-a text-xs">
    <div class="pull-right text-muted">
      Built with Love
    </div>
    <div class="nav"><a href="#" class="nav-link">About</a></div>
  </div>
</div>