<div id="aside" class="app-aside modal">
    <div class="left navside dark dk" layout="column">
        <div class="navbar no-radius">
            <a href="/" class="navbar-brand">
                <i class="material-icons text-primary">invert_colors</i><span>WebDemo</span>
            </a>
        </div>
        <div flex class="hide-scroll">
            <nav class="scroll nav-light">
                <ul class="nav" ui-nav>
                    <li>
                        <a href="/">
                            <span class="nav-icon"><i class="material-icons">view_agenda</i></span>
                            <span class="nav-text">主页</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>